* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* STYLES TO <HEADER> START */
header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #338a99;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 40px;
}

header h1 .folio {
    color: #11444d;
}

header div {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    flex-wrap: wrap;
    margin-left: 25px;
    text-decoration: underline;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/* STYLES TO <HEADER> END */

/* HERO STYLES START */
.hero {
    height: 800px;
    width: 50%;
    margin-bottom: 25px;
    background-image: url("../assets/images/benspicture.JPG");
    background-size: cover;
    background-position: center;
}

  .hero-cta {
    width: 80%;
    margin-left: 120%;
    color: #11444d;
    padding-top: 30%;
    font-size: 50px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
/* HERO STYLES END */

/* GRID CONTAINER START */
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #d9dcd6;
    padding: 100px;
}

.grid-item-header {
    border-right: solid;
    padding: 70px;
    font-size: 30px;
    text-align: right;
    color: #11444d;
}
  
  .grid-item {
    padding: 70px;
    font-size: 30px;
    color: #11444d;
    align-items: center;
}
/* GRID CONTAINER END */

/* MY WORK START */
.grid-item-2 img {
    width: 90%;
    transition: .5s ease;
}

.grid-item-2:hover img {
    transform: scale(1.5);
    filter: brightness(1.2);
}
/* MY WORK END */

/* FOOTER STYLE START */
footer ul li {
    display: inline;
    padding: 20px;
    font-size: 30px;
    text-decoration: underline;
    color: #11444d;
}

footer ul li a {
    color: #11444d;
}
/* FOOTER STYLE END */
